html {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Inline our ul for our menu */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li { display: inline; margin: 0 .5rem; }

/* For now, just dump our styles here... */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  background-color: #232426;
}

#game__canvas {
  display: block;
  margin: 0 auto;
}

#menuSection{
  margin: 0 8px;
}

.menu {
  color: #FFF;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.menu > h1 {
  font-size: 48px;
  margin: 4px;
}

@media (min-width: 1200px) {
  #game__canvas, #game__menu {
    display: inline-block;
  }

  #game__menu {
    float: left;
    width: 33.33%;
    max-width: 485px;
  }
}
